/* RESET */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* End of RESET */


/* BODY */
body {
  background-image: url(../img/sfondo.png);
}


/* END OF BODY */

/* MAIN WRAPPER */
.main-wrapper {
  width: 55%;
  margin: auto;
}

/* END OF MAIN WRAPPER */

/* HEADER */

header {
  position: relative;
  height: 400px;
  background-image: url(../img/background-header.jpg);
  border: 10px solid #ffffff;
}

header .title {
  color: #ffffff;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .title h1 {
  font-size: 50px;
  padding: 3px;
  border: 3px solid #ffffff;
  margin: 40px;

}


/* END OF HEADER */

/* NAVIGATION BAR */
nav .nav-wrapper {
  background-color: #737373;
  text-align: center;
  padding: 1%;
  margin-bottom: 1%;

}

nav .nav-wrapper li {
  color: #ffffff;
  display: inline-block;
  padding: 5px;

}


/* END NAVIGATION BAR */


/* MAIN SECTION */

main .left-col {
  width: 20%;
}

main .central-col {
  margin: 0% 2%;
  width: 56%;
}
main .right-col {
  width: 20%;
}

main .col {
  float: left;
}

main::after {

  content: "";
  display: table;
  clear: both;
}

main .box

{
  margin: 2px;
  width: 100%;

}

main .section {
  background-color: #ffffff;
  margin-bottom: 20%;
  padding: 5% 7%;
  border-radius: 7px;
  text-align: justify;
}

main .section h2{
  color: #663d00;
  display: inline-block;
  padding-bottom: 6%;
}

main .section p {
  line-height: 30px;
}

main #text-green p {
  color: green;
  padding-bottom: 5%;
  line-height: normal;
}

main #text-green .fa-rss-square {
  color: #ff9900;
  font-size: 30px;
    vertical-align: top;

}
/* END OF MAIN SECTION */

/* FOOTER SECTION */

footer {
  height: 100px;
  background: cyan;
}


/* END OF FOOTER SECTION */
